<div class="user">
  <div class="user__avatar">
    <img src="{{avatar}}" class="user__avatar-img">
    <div class="user__avatar__username text-base1-medium">{{username}}</div>
    <button class="btn-primary-default user__avatar__chat-btn text-base1-medium">К чату</button>
  </div>
  <div class="user__subscriptions">
    <div class="user__subscriptions-icon">
      <img src="/assets/icons/subscribers.svg" class="user__subscriptions-img">
    </div>
    <div class="user__subscriptions-count">
      <div class="user__subscriptions-text text-base1-medium">{{subscribers}}</div>
    </div>
  </div>
  <div class="user__data">
    <div class="user__data__names">
      <div class="user__data__names__name user__data__names-item">
        <div class="user__data__names__name-title user__data__names-item-title text-base2-medium">Имя</div>
        <div class="user__data__names__name-data user__data__names-item-data input-read-only">
          <span disabled class="user__data__names__name-span user__data__names-item-span text-base1-medium">{{name}}</span>
        </div>
      </div>
      <div class="user__data__names__name user__data__names-item">
        <div class="user__data__names__surname-title user__data__names-item-title text-base2-medium">Фамилия</div>
        <div class="user__data__names__surname-data user__data__names-item-data input-read-only">
          <span disabled class="user__data__names__surname-span user__data__names-item-span text-base1-medium">{{surname}}</span>
        </div>
      </div>
    </div>
    <div class="user__data__about">
      <div class="user__data__about-title text-base2-medium">О себе</div>
      <div class="user__data__about-data input-read-only">
        <span disabled class="user__data__about-span text-base1-medium">{{about}}</span>
      </div>
    </div>
  </div>
  <div class="user__subscribe">
      <button class="hide user__unsubscribe-btn btn-error-clear text-base1-medium">Отписаться</button>
      <button class="hide user__subscribe-btn btn-primary-clear text-base1-medium">Подписаться</button>
  </div>
</div>
<div class="user__content">
  <div class="user__btns">
    <div class="user__btn user__btn-active user__pins-btn text-h3-medium">
      Пины
    </div>
    <div class="user__btn user__boards-btn text-h3-medium">
      Доски
    </div>
  </div>
  <section class="user-pins-gallery"></section>
  <section class="user-boards-gallery"></section>
  <div class="user-non-content text-base1-medium"></div>
</div>
