<div>
    <div class="rectangle">
        <div class="open__gallery__item js-pin-id-{{id}}">
            <img src="{{src}}" width="200"/>
        </div>
        <div class="block">
            <div class="saved">
                <button disabled class="btn-primary-default text-base2-medium js-pin-to-board__btn">Прикрепить на доску</button>
            </div>
            <div>
                <label for="pin-title" class="labeled-input">Название</label>
                <textarea disabled class="pin-title input-read-only text-base1-small pin-edit-item">{{title}}</textarea>
            </div>
            <div class="user-block">
                <img src="{{avatar}}" class="header__user__avatar-user pin__block">
                <span class="pin-username text-base1-medium">{{username}}</span>
            </div>
            <div>
                <label for="pin-description" class="labeled-input">Описание</label>
                <textarea disabled class="pin-description input-read-only text-base1-small big-pin-edit-item">{{description}}</textarea>
            </div>
            <div class="pin-like-btn">
                <img src="/assets/icons/like.svg" alt="Like" class="pin-like-icon js-pin-like-icon-{{id}}">
                <div class="pin-like-counter pin-like-counter-{{id}} text-base1-medium">{{likes}}</span></div>
            </div>
            <div class="pin-control hide">
                <button class="btn-primary-clear text-base1-medium pin-control__cansel-btn">Отмена</button>
                <button class="btn-primary-default text-base1-medium pin-control__save-btn">Сохранить</button>
            </div>
        </div>
    <span class="pin-edit-span-all"></span>
    <div class="delete-btn-block">
        <img src="/assets/icons/actions/icon_delete.svg" class="btn-delete js-delete__btn">
    </div>
    <div class="edit-btn-block">
        <img disabled src="/assets/icons/actions/icon_edit.svg" class="btn-edit js-edit__btn">
    </div>
</div>
<div>
    <div class="other__pins__title">
        <span>Другие интересные пины</span>
    </div>
    <!--<section id="pins" class="gallery"></section>-->
</div>
