<div>
    <div class="rectangle">
        <div class="open__gallery__item js-pin-id-{{id}}">
            <img src="{{src}}" width="200"/>
        </div>
        <div class="block">
            <div class="saved"></div>
            <span class="pin-username">{{username}}</span>
            <div>
                <label for="pin-title" class="labeled-input">Название</label>
                <span class="pin-title">{{title}}</span>
            </div>
            <div>
                <label for="pin-description" class="labeled-input">Описание</label>
                <span class="pin-description">{{description}}</span>
            </div>
        </div>
    </div>
    <div class="other__pins__title">
        <span>Другие интересные пины</span>
    </div>
    <section id="pins" class="gallery"></section>
</div>
