<div>
    <div class="rectangle">
        <div class="gallery__item js-pin-id-{{id}}">
            <img src="{{src}}" width="200"/>
            <div class="like-button">
                <img src="/assets/icons/like.svg" alt="Like" class="like-icon js-like-button-{{id}}">
                <div class="like-counter like-counter-{{id}} text-base1-medium"></span>
            </div>
        </div>
        <div class="block">
            <!--<div class="saved"></div>-->
            <span class="pin-username">{{username}}</span>
            <div>
                <label for="pin-title" class="labeled-input">Название</label>
                <textarea disabled class="pin-title input-read-only text-base1-small pin-edit-item">{{title}}</textarea>
            </div>
            <div>
                <label for="pin-description" class="labeled-input">Описание</label>
                <textarea disabled class="pin-description input-read-only text-base1-small pin-edit-item">{{description}}</textarea>
            </div>
        </div>
    </div>
    <span class="pin-edit-span-all"></span>
    <div class="pin-control hide">
        <button class="btn-primary-clear text-base1-medium pin-control__cansel-btn">Отмена</button>
        <button class="btn-primary-default text-base1-medium pin-control__save-btn">Сохранить</button>
    </div>
    <!--<div class="other__pins__title">
        <span>Другие интересные пины</span>
    </div>
    <section id="pins" class="gallery">
    </section>-->
</div>
